streamlit

langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters

langgraph
langgraph-checkpoint-sqlite

faiss-cpu
sentence-transformers
huggingface-hub

duckduckgo-search
requests

pypdf

aiosqlite

python-dotenv

openai